{% extends 'base.html.twig' %}

{% block title %}
    Tags
{% endblock %}

{% block body %}
    {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'tags_index_paginated',
    } %}

    <h1>
        Tags
    </h1>

    {% if paginator.data is defined and paginator.data|length %}
        <ul>
            {% for row in paginator.data %}
                <li>{{ row.id }}, {{ row.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}
{% endblock %}